<div
  class="aspect-square w-full overflow-hidden rounded-full bg-pink-300 p-[18%]"
>
  <svg
    id="skeleton-badge_svg__Layer_2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 130.32 134.23"
    ><defs
      ><style>
        .skeleton-badge_svg__cls-1 {
          fill: #3338dd;
        }
      </style></defs
    ><g id="skeleton-badge_svg__Layer_1-2"
      ><path
        class="skeleton-badge_svg__cls-1"
        d="M31.22 3.29c-1.58 0-2.76.6-2.76 1.68 0 .86.82 1.49 2.02 1.75l2.38.48c2.81.58 6.36 1.44 6.36 5.09S35.55 18 31.92 18c-4.46 0-7.39-2.23-8.02-5.98h4.08c.46 1.82 1.9 2.66 4.03 2.66 1.39 0 2.98-.46 2.98-1.9 0-1.13-1.34-1.68-3.24-2.09l-2.11-.43c-2.83-.6-5.4-1.94-5.4-5.06 0-3.55 3.82-5.21 7.22-5.21s6.65 1.49 7.25 5.33h-4.06c-.41-1.3-1.68-2.04-3.43-2.04ZM44.83 3.89h-5.57V.29h15.29v3.6h-5.59v13.8h-4.13V3.89ZM59.3.29h4.51l6.58 17.4h-4.46l-1.06-3.1h-6.72l-1.03 3.1h-4.37L59.3.29Zm-.02 10.97h4.49l-2.23-6.62-2.26 6.62ZM78.74 11.14h-2.78v6.55h-4.1V.29h6.7c4.51 0 7.9 1.06 7.9 5.38 0 2.57-1.42 4.03-3.41 4.8l4.3 7.22h-4.82l-3.77-6.55Zm-2.78-7.39v3.94h2.71c1.94 0 3.43-.34 3.43-1.97s-1.49-1.97-3.43-1.97h-2.71ZM92.97 3.89H87.4V.29h15.29v3.6H97.1v13.8h-4.13V3.89ZM35.95 41.16l2.18-12.07h4.1l-3.94 17.4h-4.42l-2.64-12.26-2.62 12.26h-4.39l-3.98-17.4h4.15l2.38 12.03 2.35-12.03h4.25l2.57 12.07ZM47.93 46.49h-4.1v-17.4h4.1v17.4ZM55.18 32.69h-5.57v-3.6H64.9v3.6h-5.59v13.8h-4.13v-13.8ZM81.96 29.09v17.4h-4.1v-7.13h-7.15v7.13h-4.1v-17.4h4.1v6.65h7.15v-6.65h4.1ZM95.13 29.09h4.51l6.58 17.4h-4.46l-1.06-3.1h-6.72l-1.03 3.1h-4.37l6.55-17.4Zm-.02 10.97h4.49l-2.23-6.62-2.26 6.62ZM7.32 60.89c-1.58 0-2.76.6-2.76 1.68 0 .86.82 1.49 2.02 1.75l2.38.48c2.81.58 6.36 1.44 6.36 5.09s-3.67 5.71-7.3 5.71C3.56 75.6.63 73.37 0 69.62h4.08c.46 1.82 1.9 2.66 4.03 2.66 1.39 0 2.98-.46 2.98-1.9 0-1.13-1.34-1.68-3.24-2.09l-2.11-.43c-2.83-.6-5.4-1.94-5.4-5.06 0-3.55 3.82-5.21 7.22-5.21s6.65 1.49 7.25 5.33h-4.06c-.41-1.3-1.68-2.04-3.43-2.04ZM21.48 64.78l6.31-6.89h5.02l-6.43 6.94 6.77 10.46h-4.94l-4.7-7.34-2.02 2.21v5.14h-4.1V57.9h4.1v6.89ZM34.49 57.89h13.35v3.6H38.6v3.05h8.74v3.62H38.6v3.5h9.24v3.62H34.49v-17.4ZM54.5 71.67h8.35v3.62H50.39v-17.4h4.1v13.78ZM64.42 57.89h13.35v3.6h-9.24v3.05h8.74v3.62h-8.74v3.5h9.24v3.62H64.42v-17.4ZM84.43 61.49h-5.57v-3.6h15.29v3.6h-5.59v13.8h-4.13v-13.8ZM103.25 75.6c-5.35 0-9.02-3.58-9.02-9s3.67-9 9.02-9 9.02 3.58 9.02 9-3.7 9-9.02 9Zm0-3.38c2.54 0 4.68-1.92 4.68-5.62s-2.14-5.62-4.68-5.62-4.68 1.92-4.68 5.62 2.14 5.62 4.68 5.62ZM125.33 75.29l-6.98-12v12h-3.96v-17.4h4.99l6.99 12v-12h3.96v17.4h-4.99Z"
      ></path><circle
        class="skeleton-badge_svg__cls-1"
        cx="25.75"
        cy="120"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="28.59"
        cy="127.81"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="100.38"
        cy="92.84"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="103.22"
        cy="100.65"
        r="6.42"></circle><path
        class="skeleton-badge_svg__cls-1"
        transform="rotate(-20 64.491 110.313)"
        d="M24.77 106.17h79.42v8.31H24.77z"></path><circle
        class="skeleton-badge_svg__cls-1"
        cx="103.22"
        cy="120"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="100.38"
        cy="127.81"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="28.59"
        cy="92.84"
        r="6.42"></circle><circle
        class="skeleton-badge_svg__cls-1"
        cx="25.75"
        cy="100.65"
        r="6.42"></circle><path
        class="skeleton-badge_svg__cls-1"
        transform="rotate(-160 64.481 110.325)"
        d="M24.77 106.17h79.42v8.31H24.77z"></path></g
    ></svg
  >
</div>
