---
import Community from "./stickers/Community.astro";
import Starrrr from "./stickers/Starrrr.astro";
---

<div
  class="relative flex h-full w-auto flex-col justify-between gap-5 overflow-visible rounded-xl bg-green-600 p-5 sm:w-1/2 md:p-10 lg:w-1/4"
>
  <h4 class="text-4xl font-bold">Trust us</h4>
  <div class="min-h-[300px]">
    <Community />
    <Starrrr />
  </div>
  <div class="">
    <p>Why develop with Weasel?</p>
    <strong>It shows you the way</strong>
  </div>
</div>
