---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import weasel from "../assets/weaselOg.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta content="website" property="og:type" />
    <meta content={title} property="og:title" />
    <meta content="wondrous-dolphin-b2df9b.netlify.app" property="og:url" />
    <meta property="og:image" content={weasel} />
    <meta
      content="Write your next project in .weasel, the framework that's 27x faster"
      name="description"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#FAF6EE]">
    <main class="mx-auto max-w-7xl bg-[#FAF6EE] p-4 md:p-10">
      <slot />
    </main>
  </body>
</html>
